/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

td.gridvar {
  padding-right: 20px;
  font-size: 80%;
  width: 30%;
}

.page div.notice {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-left-color: #666;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  margin: 0px 0 10px;
  padding: 1px 12px;
  /* padding-right: 12px; */
}

.page div.notice-success {
  background: #f0fff0;
  border-color: #9d9;
  border-left-color: #090;
}

.page div.notice-fail {
  background: #fff0f0;
  border-color: #f99;
  border-left-color: #c00;
}

.page div.notice-code {
  background: #f9f9f9;
  font-family: monospace;
  white-space: pre;
  border: 1px solid #ccc;
  font-size: 0.8em;
  padding: 6px 12px 0;
}

.field-model label.with_picture {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
  text-align: center;
  position: relative;
}
.field-model .model-name {
  display: inline-block;
}
.field-model .with_picture .model-name {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  text-align: right;
}
img.model-picture {
  max-width: 100%;
  opacity: 0.5;
}

.field-model .with_picture [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.field-model [type=radio] + img {
  cursor: pointer;
}

.field-model [type=radio] + img.model-picture:hover {
  /* outline: 2px solid #f00; */
  opacity: 0.75;
}

/* CHECKED STYLES */
.field-model [type=radio]:checked + img {
  outline: 2px solid #f00;
  opacity: 1;
}
