#*#
*~
.#*
._*
\#*#
\#*\#
.apdisk
*.asset.php
.DS_Store
.gpt-po/key*
/helpers/bin/
/helpers/composer.json
/helpers/composer.lock
/helpers/destinations
/helpers/.git*
/helpers/includes/*.example.php
/helpers/install-library.sh
/helpers/.libignore
/helpers/*-load.php
/helpers/tools/
htaccess
*.map
/node_modules/
phpcs.xml
phpunit.xml
/sources/
*.sql
/src/test-*
*.tar.gz
Thumbs.db
tmp/
/vendor/magicoli/opensim-helpers/
/vendor/magicoli/opensim-rest-php/opensim-rest-cli
/vendor/magicoli/opensim-rest-php/opensim-rest-cli.php
/vendor/magicoli/opensim-rest-php/src/
wp-cli.local.yml
*.zip
