#*#
*~
.#*
._*
\#*#
\#*\#
.apdisk
*.asset.php
.DS_Store
.gpt-po/key*
/helpers/includes/*.example.php
/helpers/install-library.sh
/helpers/.libignore
htaccess
*.map
/node_modules/
phpcs.xml
phpunit.xml
/sources/
*.sql
/src/test-*
*.tar.gz
Thumbs.db
tmp/
wp-cli.local.yml
*.zip
.vscode/
/engine/config/
