/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/admin/settings.scss ***!
  \************************************************************************************************************************************************************************************************************************************************/
.w4os-settings .rwmb-label {
  width: 20em;
}

.w4os-settings .columns-1 .rwmb-field:not(.rwmb-w4osdb_field_type-wrapper) .rwmb-input {
  display: grid;
  grid-template-columns: 30em 1fr;
  grid-gap: 20px;
  box-sizing: border-box;
  grid-auto-flow: row;
}

.w4os-settings .columns-1 .rwmb-field.rwmb-w4osdb_field_type-wrapper {
  width: inherit;
}

.w4os-settings .columns-1 .rwmb-input .rwmb-switch-label {
  width: 2em;
}

@media (max-width: 1200px) {
  .w4os-settings .columns-1 .rwmb-input {
    grid-template-columns: 1fr;
  }
}
.rwmb-group-wrapper.inline .rwmb-input > *,
.rwmb-w4osdb_field_type-wrapper .rwmb-input > * {
  max-width: 30em;
}
.rwmb-group-wrapper.inline .rwmb-input > .db-field-use_default,
.rwmb-w4osdb_field_type-wrapper .rwmb-input > .db-field-use_default {
  max-width: 3em;
}
.rwmb-group-wrapper.inline .rwmb-input > .db-field-type,
.rwmb-w4osdb_field_type-wrapper .rwmb-input > .db-field-type {
  max-width: 12em;
}
.rwmb-group-wrapper.inline .rwmb-input > .db-field-port,
.rwmb-w4osdb_field_type-wrapper .rwmb-input > .db-field-port {
  max-width: 6em;
}

@media (min-width: 768px) {
  .rwmb-group-wrapper.inline .rwmb-field,
  .rwmb-w4osdb_field_type-wrapper .rwmb-field {
    display: block;
  }
  .rwmb-group-wrapper.inline .rwmb-field > *,
  .rwmb-w4osdb_field_type-wrapper .rwmb-field > * {
    width: auto;
  }
  .rwmb-group-wrapper.inline .rwmb-input,
  .rwmb-w4osdb_field_type-wrapper .rwmb-input {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-content: flex-start;
    gap: 20px;
  }
  .rwmb-group-wrapper.inline .rwmb-input > *,
  .rwmb-w4osdb_field_type-wrapper .rwmb-input > * {
    width: 15em;
  }
  .rwmb-group-wrapper.inline .rwmb-input > .db-field-use_default,
  .rwmb-w4osdb_field_type-wrapper .rwmb-input > .db-field-use_default {
    width: 3em;
  }
  .rwmb-group-wrapper.inline .rwmb-input > .db-field-type,
  .rwmb-w4osdb_field_type-wrapper .rwmb-input > .db-field-type {
    width: 12em;
  }
  .rwmb-group-wrapper.inline .rwmb-input > .db-field-port,
  .rwmb-w4osdb_field_type-wrapper .rwmb-input > .db-field-port {
    width: 6em;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/admin/settings-copyable-fields.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.w4os-settings .copyable .rwmb-input {
  position: relative;
}
.w4os-settings .copyable .rwmb-input input.form-control {
  padding-left: 30px; /* Adjust the value as needed to create space for the copy icon */
}
.w4os-settings .copyable .rwmb-input .copy-icon {
  position: absolute;
  left: 0.4em; /* Adjust the value as needed to position the copy icon */
  top: 0.8em;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}
/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/admin/admin.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.w4os-table {
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}

.w4os-table :first-child {
  margin-top: 0;
}

.w4os-table > * > * > th,
.w4os-table > * > * > td {
  padding: 10px;
  vertical-align: top;
}

.w4os-table > thead > tr > th {
  text-align: center;
  padding: 10px 10px 0;
  font-weight: normal;
}

.w4os-table > tbody > tr > th {
  padding-left: 0;
  width: 200px;
}

.w4os-table > tbody > tr > th p {
  font-weight: normal;
}

.w4os-table.user-sync {
  border-spacing: 10px;
  border-collapse: separate;
  margin: -10px -10px 0;
}

.w4os-table.user-sync caption {
  caption-side: bottom;
  padding: 10px;
}

.w4os-table.user-sync tr:not(.notes) td:not(:empty) {
  background: white;
  border: solid 1px lightgrey;
  border-radius: 5px;
  min-width: 4em;
  text-align: center;
  vertical-align: middle;
}

.w4os-table.user-sync tr.notes td {
  padding: 0;
}

.w4os-table.user-sync td.error {
  color: red;
}

.w4os-table.user-sync td.success {
  color: green;
}

.w4os-table.shortcodes {
  /* max-width: 60em; */
  border-spacing: 10px;
  border-collapse: separate;
  margin: -10px;
}

.w4os-table.shortcodes > tbody > tr > td {
  background: white;
}

.w4os-status-page.wrap > .content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.iniconfig {
  background: lightgrey;
  padding: 10px 10px 1px;
}

.w4os-status-page.wrap > .content > div {
  flex-basis: 960px;
  flex-grow: 2;
}

.w4os-status-page.wrap > .content > div.shortcodes {
  flex-basis: 480px;
  flex-grow: 2;
}

.w4os-table.requested-pages td {
  vertical-align: top;
}

.w4os-table.requested-pages td:not(:first-child) {
  width: 50%;
}

.requested-pages p.submit {
  margin-top: 0;
  /* padding-top: 0; */
}

table.gridinfo td,
table.gridstatus td,
.w4os-shortcode td {
  vertical-align: bottom;
}

table.gridinfo td:first-child,
table.gridstatus td:first-child,
.w4os-shortcode td:first-child {
  padding-right: 10px;
  min-width: 12em;
}

.recent-users li {
  clear: both;
  overflow: hidden;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 10px;
  line-height: 16px;
}

.recent-users li span.row-actions {
  display: block;
}

.recent-users li span.row-actions > :not(:first-child):before {
  content: " | ";
}

.recent-users li:hover span.row-actions {
  left: 0;
}

.recent-users .profile-pic {
  display: inline-block;
  padding-right: 5em;
  max-width: 25%;
  float: left;
  vertical-align: top;
}

.recent-users .avatar-name {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .w4os-table.shortcodes,
  .w4os-table.shortcodes > tbody,
  .w4os-table.shortcodes > * > tr,
  .w4os-table.shortcodes > * > * > th,
  .w4os-table.shortcodes > * > * > td {
    display: block;
    max-width: 100%;
    /* padding: 10px; */
  }
  .w4os-table.shortcodes {
    margin: 0;
  }
  .w4os-table.shortcodes > tbody > tr > th {
    margin: 20px 0 0;
    width: calc(100% - 10px);
  }
  .w4os-table.shortcodes > tbody > tr > th p {
    margin-bottom: 0;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/admin/models.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.models-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.models-list li,
.models-list .model {
  list-style: none;
  margin: 0;
}
.models-list .model-picture {
  width: 100%;
  height: auto;
}
.models-list figcaption {
  text-align: center;
}
.models-list figure {
  padding: 0;
  margin: 0;
}
.models-list .model input[type=radio] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.models-list label.model [type=radio] + figure {
  cursor: pointer;
  opacity: 0.5;
}
.models-list label.model [type=radio] + figure:hover {
  /* outline: 2px solid #f00; */
  opacity: 0.75;
}
.models-list label.model [type=radio]:checked + figure {
  outline: 2px solid black;
  opacity: 1;
}

/*# sourceMappingURL=admin.css.map*/