.rwmb-group-wrapper.inline,
.rwmb-w4osdb_field_type-wrapper {
  .rwmb-input .w4osdb-field-group {
    > * {
      max-width: 30em;
    }

    > .db-field-use_default {
      max-width: 3em;
    }
    > .db-field-type {
      max-width: 12em;
    }
    > .db-field-port {
      max-width: 6em;
    }
  }
}

@media (min-width: 768px) {
  .rwmb-group-wrapper.inline .rwmb-field,
  .w4osdb-field-group {
    display: block;
  }

  .rwmb-group-wrapper.inline .rwmb-field > *,
  .w4osdb-field-group > * {
    width: auto;
  }

  .w4osdb-field-group,
  .rwmb-group-wrapper.inline .rwmb-field .rwmb-input {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-content: flex-start;
    // justify-content: space-between;
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 3;

    > * {
      width: 15em;
    }

    > .db-field-use_default {
      width: 3em;
    }
    > .db-field-type {
      width: 12em;
    }
    > .db-field-port {
      width: 6em;
    }
  }
}
