.w4os-settings .inside ul ul {
  padding-left: 1em;
}

.rwmb-input {
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 0.5em;
  }
}

.w4os-settings .rwmb-label {
  width: 20em;
}

@media (min-width: 1200px) {
  .w4os-settings:not(.no-hints) .rwmb-field:not(.rwmb-group-wrapper) .rwmb-input {
    display: grid;
    grid-template-columns: 30em 1fr;
    grid-gap: 20px;
    box-sizing: border-box;
    grid-auto-flow: row;
  }

  .rwmb-switch-label {
    width: 2em;
  }

  .rwmb-w4osdb_field_type-wrapper {

  }
}
