/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.w4os-popular-places .places {
  display: flex;
  flex-flow: row wrap;
 justify-content: start;
   gap: 10px;
  overflow-x: hidden;
}
.w4os-popular-places .places::after {
 content: "";
 flex: 2 0 256px;
}
.w4os-popular-places .place {
  position: relative;
  flex: 2 0 256px;
}
.w4os-popular-places .place h5 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  max-width: 256px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0));
}
.w4os-popular-places .place img {
  width: 256px;
  height: 192px;
}
