.wrap.w4os-settings {
	margin: 10px 0
}

.wrap.w4os-settings .w4os-credentials {
	margin-bottom: 10px;
}

.wrap.w4os-settings .w4os-credentials > label:first-child {
	font-weight: bold;
	display: inline-block;
	width: 7rem;
}

 /* set input number size to 5 em */
.wrap.w4os-settings .w4os-credentials input[type=number] {
	width: 5rem;
}

.wrap.w4os-settings .w4os-status-icon {
	float: left;
	width: 1rem;
	margin: 0.3rem 0 0 -1.5rem ;
}

.wrap.w4os-settings p.notice {
	background: #fff;
	border: 1px solid #c3c4c7;
	border-left-width: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	/* margin: 5px 15px 2px; */
	padding: 6px 12px;
}
.wrap.w4os-settings p.notice.error {
	border-left-color: #d63638;
}

@media (min-width: 1200px) {
	.wrap.w4os-settings {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 20px;
	}

	.wrap.w4os-settings #sidebar-content {
		flex: 0 0 400px;
		position: sticky;
	}
	.wrap.w4os-settings .main-content {
		flex: 1 1 auto;
	}
}
