.wrap.w4os-settings {
	margin: 10px 0
}

.wrap.w4os-settings .w4os-credentials {
	margin-bottom: 10px;
}

.wrap.w4os-settings .w4os-credentials > label:first-child {
	font-weight: bold;
	display: inline-block;
	width: 7rem;
}

 /* set input number size to 5 em */
.wrap.w4os-settings .w4os-credentials input[type=number] {
	width: 5rem;
}

@media (min-width: 1200px) {
	.wrap.w4os-settings {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 20px;
	}

	.wrap.w4os-settings #sidebar-content {
		flex: 0 0 400px;
		position: sticky;
	}
	.wrap.w4os-settings .main-content {
		flex: 1 1 auto;
	}
}
