.single-flux_post .byline,
.single-flux_post .posted-on,
.single-flux_post .post-meta,
.single-flux_post .wp-block-post-date,
.single-flux_post .wp-block-group:has( > .wp-block-post-author-name ),
.flux_post .byline,
.flux_post .posted-on,
.flux_post .wp-block-post-date,
.flux_post header,
.flux_post .post-meta,
.flux_post .wp-block-group:has( > .wp-block-post-author-name ) {
	display: none;
}

.flux-author {
    font-weight: bold;
}
.flux-date {
    font-size: 0.9em;
}
