.w4os img,
.w4os iframe,
.w4os object,
.w4os embed {
    max-width: 100%;
}

img.profile,
ul.parcels div.parcel > img {
	float: left;
	margin-right: 10px;
	max-width: 100%;
	aspect-ratio: 4/3;
}
img.profile {
	/* max-width: 512px; */
}
.w4os-modal img.profile {
	/* max-width: 256px; */
}

img.w4os-avatar-thumb {
	width: 48px;
	/* height: 48px; */
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin: 5px 0;
}

.flux {
	margin: 10px 0;
	padding: 10px;
}

#new-flux-post-form input,
#new-flux-post-form textarea,
#new-flux-post-form button {
	padding: 10px;
	font-size: 1rem;
}

#new-flux-post-form #flux-post-content {
	width: 100%;
}

/* 
#new-flux-post-form button,
#new-flux-post-form input[type="submit"] {
} 
*/

.flux-post {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	margin: 10px 0;
}
.flux-post > .content > :first-child {
	margin-top: 0;
}
.flux-post > .content > :last-child {
	margin-bottom: 0;
}
.flux-post > .content > * {
	margin: 10px 0;
}

.flux-post > .content > .name,
.flux-post > .content > .date {
	margin: 0;
	display: inline-block;
}
.flux-post > .content > .date {
	font-size: 0.8em;
}
.flux-post > .content > .name {
	font-weight: bold;
}
.flux-post > .content > .message {
	display: block;
	border-radius: 5px;
	border: solid 1px #ccc;
	padding: 10px;
	margin: 0;
	width: auto;
}
