.w4os img,
.w4os iframe,
.w4os object,
.w4os embed {
    max-width: 100%;
}

img.profile,
ul.parcels div.parcel > img {
	float: left;
	margin-right: 10px;
	max-width: 128px;
	aspect-ratio: 4/3;
}
img.profile {
	max-width: 512px;
}
.w4os-modal img.profile {
	max-width: 256px;
}
