.w4os img,
.w4os iframe,
.w4os object,
.w4os embed {
	max-width: 100%;
}

img.profile,
ul.parcels div.parcel > img {
	float: left;
	margin-right: 10px;
	max-width: 100%;
	aspect-ratio: 4/3;
}
img.profile {
	/* max-width: 512px; */
}
.w4os-modal img.profile {
	/* max-width: 256px; */
}

.profile-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.profile-content > * {
	clear: both;
}

.profile-header {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.profile-header img {
	float: none;
	max-width: 256px;
	/* border-radius: 50%; */
}

.profile-tabs {
	display: flex;
	flex-direction: row;
	gap: 10px;
	border-bottom: solid 1px #ccc;
}
.profile-tabs a {
	padding: 5px 10px;
	text-decoration: none;
	color: #333;
	border: solid 1px #ccc;
	margin-bottom: -1px;
	background: #f6f7f7;
}
.profile-tabs a.active {
	background: white;
	border-bottom: none;
}

/* ul.profile-info, ul.profile-info > li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.profile-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 1em;
}
.profile-info > li {
	font-size: 0.9em;
} */

img.w4os-avatar-thumb {
	width: 48px;
	/* height: 48px; */
	aspect-ratio: 1/1;
	border-radius: 50%;
	margin: 5px 0;
}

body.profile-viewer {
	margin: 0;
	padding: 0;
}

body.profile-viewer h1.wp-heading-inline {
	display: inline-block;
	margin-right: 5px;
	margin: 20px;
}

body.profile-viewer .wp-heading-inline+.page-title-action {
	margin-left: 0;
}

body.profile-viewer .page-title-action {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: none;
	top: -3px;
	margin-left: 4px;
	border: 1px solid #2271b1;
	border-radius: 3px;
	background: #f6f7f7;
	font-size: 13px;
	font-weight: 400;
	line-height: 2.15384615;
	color: #2271b1;
	padding: 0 10px;
	min-height: 30px;
	-webkit-appearance: none;
}


body.profile-viewer h1,
body.profile-viewer .flux {
	margin: 20px;
}
.flux {
	margin: 10px 0;
}

#new-flux-post-form input,
#new-flux-post-form textarea,
#new-flux-post-form button {
	padding: 10px;
	font-size: 1rem;
}

#new-flux-post-form #flux-post-content {
	width: 100%;
}

/*
#new-flux-post-form button,
#new-flux-post-form input[type="submit"] {
}
*/

.flux-post {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	margin: 10px 0;
}
.flux-post > .content > :first-child {
	margin-top: 0;
}
.flux-post > .content > :last-child {
	margin-bottom: 0;
}
.flux-post > .content > * {
	margin: 10px 0;
}

.flux-post > .content > .name,
.flux-post > .content > .date {
	margin: 0;
	display: inline-block;
}
.flux-post > .content > .date {
	font-size: 0.8em;
}
.flux-post > .content > .name {
	font-weight: bold;
}
.flux-post > .content > .message {
	display: block;
	border-radius: 5px;
	border: solid 1px #ccc;
	padding: 10px;
	margin: 0;
	width: auto;
}
