/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

a[href*="hop://"] {
  white-space: nowrap;
}
a[href*="hop://"]:after {
  display: inline-block;
  content: url('portal-enter-regular.svg');
  width: 1em;
  height: 1em;
  margin-left: 0.15em;
}

#dashboard-widgets table.gridinfo,
#dashboard-widgets table.gridstatus {
  width: 100%;
}

.w4os-status-page table.gridinfo,
.w4os-status-page table.gridstatus {
  width: 360px;
  max-width: 100%;
}

table.gridinfo td,
table.gridstatus td {
  width: 50%;
}
th.gridvar,
td.gridvar,
td.gridval {
  padding-right: 20px;
  /* font-size: 80%; */
  vertical-align: top;
}

.page div.notice {
  background: #f0f0f0;
  border: 1px solid #ccc;

  border-left-color: #666;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  margin: 0px 0 10px;
  padding: 1px 12px;
  /* padding-right: 12px; */
}

.page div.notice-success {
  background: #f0fff0;
  border-color: #9d9;
  border-left-color: #090;
}

.page div.notice-error,
.page div.notice-fail {
  background: #fff0f0;
  border-color: #f99;
  border-left-color: #c00;
}

.page div.notice-code {
  background: #f9f9f9;
  font-family: monospace;
  white-space: pre;
  border: 1px solid #ccc;
  font-size: 0.8em;
  padding: 6px 12px 0;
}


/* IMAGE STYLES */

.form-wrap p, p.description, p.help, span.description {
  margin-top: 0;
  /* margin-bottom: 0; */
}
.form-wrap p, p.description, p.help, span.description {
  display: block;
  line-height: 1.2em;
	font-style: italic;
	margin-top: 4px;

}

.avatar.not-created,
.avatar.not-connected {
  /* text-align: center; */
  /* font-weight: bold; */
}

.w4os-login p {
  margin: 1em 0;
}
.w4os-login p label {
  display: block;
  margin-bottom: 0.25em;
}
.w4os-login #nav {
}

body.w4os-welcome #page {
	padding: 2%;
	font-size: 14px;
}

body.w4os-welcome #main,
body.w4os-welcome .site-main,
body.w4os-welcome .entry-content {
	margin: 0;
	padding: 0;
}
body.w4os-welcome .site-header,
body.w4os-welcome .entry-header,
body.w4os-welcome aside,
body.w4os-welcome .widget-area,
body.w4os-welcome footer {
	display: none;
}

@media screen and (max-width: 480px) {
	.avatar-profile-table,
	.avatar-profile-table th,
	.avatar-profile-table tr,
	.avatar-profile-table td,
	.w4os-table.shortcodes,
	.w4os-table.shortcodes > tbody,
	.w4os-table.shortcodes > * > tr,
	.w4os-table.shortcodes > * > * > th,
	.w4os-table.shortcodes > * > * > td {
		display: block;
		max-width: 100%;
		/* padding: 10px; */
	}
	.w4os-table.shortcodes {
		margin: 0;
	}
	.w4os-table.shortcodes > tbody > tr > th {
		margin: 20px 0 0;
		width: calc(100% - 10px);
	}
	.w4os-table.shortcodes > tbody > tr > th p {
		margin-bottom: 0;
	}
}
