<?php
// GLOEBIT additions
// @2016 Olivier van Helden / Gudule Lapointe
// Replace currency.php with flexible.currency.php (or update link in helper/)
// Copy this file to config/gloebit.config.php then customise to your needs

// Currently handled values: Gloebit
// If other or unset, defaults to DTL/NSL behaviour
if (!defined('CURRENCY_MODULE')) define('CURRENCY_MODULE', 'Gloebit');

// Sandbox mode set false to go in live production mode
if (!defined('CURRENCY_SANDBOX')) define('CURRENCY_SANDBOX', true);

// If true, force to choose one of the amounts in conversion table
if (!defined('CURRENCY_FIXED_AMOUNTS')) define('CURRENCY_FIXED_AMOUNTS', true);

// TODO: cache conversion table from Gloebit website. 
$conversion_table=array(
      400 => 199,
      1050 => 499,
      2150 => 999,
      4500 => 1999,
      11500 => 4999,
);

// Threshold: tolerance before considering the next currency amount
//    1: always skip to next value. Buying 401 G will switch to 1050
//    >1: moderated conversion. For example with a threshold of 1.1:
//        Asking 440 G (== 400 * 1.1) would switch to lower value, 400
//        Asking 450 G (> 400 * 1.1) would switch to higher value, 1050
define('CURRENCY_CONVERSION_THRESHOLD', 1.2);

?>