.models-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;

  li,
  .model {
    list-style: none;
  }

  .model-picture {
    width: 100%;
    height: auto;
  }

  figcaption {
    text-align: center;
  }

  figure {
    padding: 0;
    margin:0;
  }

  .model input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }


  label.model [type=radio] + figure {
    cursor: pointer;
    opacity: 0.5;
  }

  label.model [type=radio]  + figure:hover {
    /* outline: 2px solid #f00; */
    opacity: 0.75;
  }

  label.model [type=radio]:checked + figure {
    outline: 2px solid black;
    opacity: 1;
  }
}
