@media (min-width: 1200px) {
  .w4os-settings .columns-1 {
    .rwmb-field:not(.rwmb-w4osdb_field_type-wrapper) {
      .rwmb-input {
        display: grid;
        grid-template-columns: 30em 1fr;
        grid-gap: 20px;
        box-sizing: border-box;
        grid-auto-flow: row;

        .rwmb-switch-label {
          width: 2em;
        }
      }
    }
  }
}

.w4os-settings .rwmb-label {
  width: 20em;
}

.rwmb-group-wrapper.inline,
.rwmb-w4osdb_field_type-wrapper {
  .rwmb-input {
    > * {
      max-width: 30em;
    }

    > .db-field-use_default {
      max-width: 3em;
    }
    > .db-field-type {
      max-width: 12em;
    }
    > .db-field-port {
      max-width: 6em;
    }
  }
}

@media (min-width: 768px) {
  .rwmb-group-wrapper.inline,
  .rwmb-w4osdb_field_type-wrapper {
    .rwmb-field {
      display: block;

      > * {
        width: auto;
      }
    }

    .rwmb-input {
      display: flex;
      flex-flow: row wrap;
      flex: 1;
      align-content: flex-start;
      // justify-content: space-between;
      gap: 20px;

      > * {
        width: 15em;
      }

      > .db-field-use_default {
        width: 3em;
      }
      > .db-field-type {
        width: 12em;
      }
      > .db-field-port {
        width: 6em;
      }
    }
  }
}
