/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.w4os-table {
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}
.w4os-table :first-child {
  margin-top: 0;
}

.w4os-table > * > * > th, .w4os-table > * > * > td {
    padding: 10px;
    vertical-align: top;
}
.w4os-table > thead > tr > th {
    text-align: center;
    padding: 10px;
}
.w4os-table > tbody > tr > th {
    padding-left: 0;
    width: 200px;
}

.w4os-table > tbody > tr > th p {
  font-weight: normal;
}

.w4os-table.user-sync {
  border-spacing: 10px;
  border-collapse: separate;
  margin: -10px -10px 0;
}
.w4os-table.user-sync caption {
    caption-side: bottom;
    padding: 10px;
}
.w4os-table.user-sync td:not(:empty) {
  background: white;
  min-width: 4em;
    text-align: center;
    vertical-align: middle;
}
.w4os-table.user-sync td.error {
    color: red;
}
.w4os-table.user-sync td.success {
    color: green;
}


.w4os-table.shortcodes {
  /* max-width: 60em; */
  border-spacing: 10px;
  border-collapse: separate;
  margin: -10px;
}

.w4os-table.shortcodes > tbody > tr > td {
  background: white;
}

table.gridinfo td,
table.gridstatus td,
.w4os-shortcode td {
    vertical-align: bottom;
}
table.gridinfo td:first-child,
table.gridstatus td:first-child,
.w4os-shortcode td:first-child {
    padding-right: 10px;
    min-width: 12em;
}

@media screen and (max-width: 480px) {
  .w4os-table.shortcodes,
  .w4os-table.shortcodes > tbody,
  .w4os-table.shortcodes > * > tr,
  .w4os-table.shortcodes > * > * > th,
  .w4os-table.shortcodes > * > * > td
   {
     display: block;
     max-width: 100%;
     /* padding: 10px; */
   }
   .w4os-table.shortcodes
    {
      margin: 0;
    }
    .w4os-table.shortcodes > tbody > tr > th {
      margin: 20px 0 0;
      width: calc(100% - 10px);
    }
    .w4os-table.shortcodes > tbody > tr > th p {
        margin-bottom: 0;
    }
}
*/
